body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../src/images/152458.jpg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.button-link {
  text-decoration: none;
  color: fuchsia;
}

.start-game-button {
  padding: 20px;
  margin-top: 80px;
}

#select-player-button {
  width: 210px;
  height: 70px;
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: #000;
  background-color: rgb(77, 36, 134);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

#select-player-button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

#end-game-container {
font-family: 'Press Start 2P', cursive;
text-align: center;
color: gold;
font-size: 20px;
text-shadow: 2px 2px 0px darkgoldenrod;
padding: 20px;
margin-top: 100px;
}