#battle-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}

#player-sprite{
    grid-row: 2;
    grid-column: 2 / span 1;
}

#enemy-sprite{
    grid-row: 2;
    grid-column: 4 /span 1;
}

#attack{
    grid-row: 3;
    grid-column: 2
}

#defend{
    grid-row: 3;
    grid-column: 3
}