.select-sprite {
  padding: 20px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: lightseagreen;
  font-size: 30px;
  text-shadow: 2px 2px 0px darkviolet;
  margin-top: 10px;
}

#grid-container {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 150px;
    padding: 20px;
    justify-items: center;
    width: 100%;
  }

#grid-container img{
  height: 150px;
  width: 150px;
}

.grid-item {
  padding: 20px;
}

.sprite-selected {
  padding: 20px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: limegreen;
  font-size: 20px;
  text-shadow: 2px 2px 0px black;
  margin-top: 10px;
}

.new-character-container {
  text-align: center;
}

.sprite-img {
  height: 200px;
  width: 200px;
}

#name {
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  font-size: 16px
}

.spending-container, h3 {
  padding: 10px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color:limegreen;
  font-size: 20px;
  text-shadow: 2px 2px 0px black;
}

input[type="number"] {
  padding: 10px;
	border-radius: 5px;
  font-size: 19px;
  width: 35px;
  height: 20px;
  margin: 10px;
}

.increment-button {
	width: 100px;
  height: 40px;
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 500;
  color: black;
  background-color: mediumseagreen;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 5px;
}

.increment-button:hover {
  background-color: #2ee59d;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	color: black;
	transform: translateY(-7px);
}

.decrease-button {
	width: 100px;
  height: 40px;
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 500;
  color: black;
  background-color: crimson;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 5px;
}

.decrease-button:hover {
  background-color: indianred;
	box-shadow: 0px 15px 20px red;
	color: black;
	transform: translateY(-7px);
}

.power-container {
  padding: 10px;
  margin-right: 3%;
}

#create-character {
  width: 190px;
  height: 40px;
  font-family: "Press Start 2P", cursive;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 500;
  color: black;
  background-color: mediumseagreen;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 10px;
}

#create-character:hover {
  background-color: #2ee59d;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	color: black;
	transform: translateY(-7px);
}

#fight-button {
  width: 300px;
  height: 50px;
  font-family: "Press Start 2P", cursive;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 500;
  color: black;
  background-color: crimson;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 10px;
  margin-bottom: 50px;
}

#fight-button:hover {
  background-color: #2ee59d;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	color: white;
	transform: translateY(-7px);
}

#player-character-container {
  padding: 20px;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  color: mediumseagreen;
  font-size: 10px;
  text-shadow: 2px 2px 0px black;
}