.grid-container {
    display: inline-grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-template-columns: auto auto auto;
  }

.grid-container img{
  height: 150px
}